* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#app {
  height: 100vh;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  
}

.text {
  height: 100vh;
  width: 50%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  
  flex-direction: column;
  justify-content: space-between;
 
}

.image {
  height: 100vh;
  width: 50%;
  
}

.image img {
  height: 100vh;
  width: 100%;
}

.logo {
  margin: 50px 0 0 60px;
}
.logo p {
  padding-top: 10px;
  color: black;
  font-size: 12px;
  display: none;
}

.center{
  padding-left: 60px;
}
.thanks {
  padding-left: 60px;
  display: block;
}

.thanks__subtitel {
  padding-top: 10px;
} 

.subtitle, .thanks__subtitel {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 26px;
  padding-right: 8px;
}

.lid, .thanks__titel  {
  font-size: 36px;
  font-weight: 400;
  color: black;
}



.footer {
  padding: 0px 30px 30px 60px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  
  justify-content: space-between; 

}
.footer a {
  color: black;
  font-size: 16px;
}

.footer span {
 font-size: 13px;
 font-weight: 300;
}

.form {
  margin-left: 60px;
  display: block;
  width: 80%;

}

.form input, .form button, .form textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 10px;
  font-family: sans-serif;
  outline: 0;
}

.form input, .form textarea {
  border: 0.4px solid #000000;
}

.form textarea {
  resize: none;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
}

textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form button {
  outline: none;
  background: transparent;
  border: 1.2px solid black;
  color: black;
  border: 2px solid #000000;
}
.form button:hover {
  background-color: black;
  color: white;
}

.personal-data {
  font-weight: 300;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
  letter-spacing: -0.015em;
  color: #000000;
}

.personal-data  a {
  color: black;
  text-decoration: underline;
  font-weight: 400;
}

.footer a:hover {
  text-decoration: underline;
}
.footer span {
  font-size: 13px;
}

.blackZone {
  color: red !important;
}
#hello {
  display: block;
}

@media screen and (max-width: 1380px) {
  .subtitle, .thanks__subtitel {
    font-size: 13px;
  }
  .lid , .thanks__titel {
    font-size: 25px;
  }
}


@media screen and (max-width: 1280px) {
  .logo, .center, .form, .footer .thanks{
    margin-left: 20px;
    padding-left: 20px;
  }
  .footer a {
    font-size: 13px;
  }
  .footer span {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .form {
    width: 90%;
  }
  .footer span {
    display: none;
  }
  .logo p {
    display: block;
  }
  .logo, .center, .form, .footer, .thanks {
    margin-left: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
    margin: 10px;
  }
 
}
@media screen and (max-width: 700px) {
  #app {
    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
  }
  .image, .text {
    width: 100%;
  }
  .center ,.thanks {
    padding: 50px 0 50px 10px;
  }
  .lid, .thanks__titel {
    font-size: 24px;
  }
  .footer {
    padding: 10px;
  }
  .image, .image img, .text {
    height: auto;
  }
 
  .subtitle , .thanks__subtitel{
    font-size: 11px;
    padding-bottom: 11px;
  }
  
}

@media screen and (max-width: 380px) {
  .footer a {
    padding: 5px 0 5px 0;
  }
}